/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

:root {
    --color-white: #fff;
    --color-black: #212127;
    --color-highlight: #e068de;
    --color-alt: #68dce0;

    --color-neutral-100: #fff;
    --color-neutral-200: #B4B4B5;
    --color-neutral-300: #808084;
    --color-neutral-400: #57575B;
    --color-neutral-500: #3A3A3F;
    --color-neutral-600: #212127;

    --color-primary-light: #fcacdb;
    --color-primary: #ef61aa;
    --color-primary-dark: #ce3a84;

    --color-secondary-light: #acf9f9;
    --color-secondary: #6cdcef;
    --color-secondary-dark: #008296;
}

html {
    background: var(--color-white);
    color: var(--color-black);
    font-size: 1.125em;
    line-height: 1.6;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    scroll-behavior: smooth;
}

@media screen and (max-width: 800px) {
  html {
    font-size: 1em;
  }
}


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Sensible defaults
   ========================================================================== */

img {
    max-width: 100%;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}

.noshadow {
    box-shadow: none;
}

h1, h2, h3 {
    line-height: 1.2;
    color: var(--color-neutral-300);
    margin: 0 0 1em;
}

a {
    color: var(--color-secondary-dark);
    text-decoration: none;
    padding-bottom: 0.125em;
    border-bottom: 2px solid;
    position: relative;
}

a:hover {
    color: var(--color-primary-dark);
}

strong {
    font-weight: 600;
    background: rgba(199, 240, 241, 0.5);
}

p, img {
    margin-bottom: 2em;
    margin-top: 0;
}

blockquote {
    margin: 0 0 2em;
    color: var(--color-neutral-400);
    font-size: 1.2em;
    position: relative;
    font-style: italic;
}

blockquote:before {
    content: "“";
    display: block;
    color: var(--color-neutral-200);
    font-size: 4em;
    position: absolute;
    top: -0.125em;
    left: -0.5em;
    line-height: 1;
    font-family: Georgia, serif;
    font-style: normal;
    z-index: 1;
}

blockquote p {
    position: relative;
    z-index: 2;
}

blockquote cite {
    display: block;
    text-align: right;
    font-style: normal;
    font-size: 0.8em;
}

@media screen and (min-width: 640px) {
    img {
        max-width: calc(100% + 8em);
        margin-left: -4em;
    }
}

/* ==========================================================================
   Sticky navigation
   ========================================================================== */
nav {
  background: var(--color-neutral-500);
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 100;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

nav a {
  display: inline-block;
  padding: 0.5rem 2rem;
  color: var(--color-neutral-100);
  text-decoration: none;
  border-bottom: 0;
  font-size: 0.9em;
}

nav a:hover {
    color: var(--color-neutral-100);
    background: var(--color-primary-dark);
}

.current {
  background: var(--color-neutral-400);
}

.current:hover {
  color: var(--color-neutral-100);
  background: var(--color-primary-dark);
}

@media screen and (max-width: 640px) {
    nav ul li a {
        padding: 0.75rem 0.5rem;
    }
}


/* ==========================================================================
   Panel structure
   ========================================================================== */

.panel {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 95vh;
    padding: 4em 2em;

    &:last-of-type {
        border-bottom: none;
    }
}

.panel-title {
    color: var(--color-primary);
    background: var(--color-neutral-600);
    display: inline-block;
    font-weight: 600;
    padding: 0.25em;
    transform: rotate(-2deg);
    font-size: 2rem;
    line-height: 0.8;
    margin: 1em -0.35em 1.5em 0;
}

.subtitle {
    font-weight: 500;
    font-size: 1.6rem;
}

/* Dark panels */
.panel:nth-of-type(odd) {
    background: var(--color-neutral-600);
    color: var(--color-neutral-100);
}

.panel:nth-of-type(odd) .panel-title {
    color: var(--color-neutral-600);
    background: var(--color-primary);
}

.panel:nth-of-type(odd) .subtitle {
    color: var(--color-primary);
}

.panel:nth-of-type(odd) a {
    color: var(--color-secondary);
}

.panel:nth-of-type(odd) a:hover {
    color: var(--color-primary);
}

/* Light panels */
.panel:nth-of-type(even) {
    background: var(--color-neutral-100);
    color: var(--color-neutral-600);
}

.panel:nth-of-type(even) .subtitle {
    color: var(--color-primary-dark);
}

.panel-contents {
    width: 100%;
    max-width: 640px;
}

.content {
    padding-bottom: 4em;
}

/* Unordered lists */
.panel ul,
.panel ol {
  padding: 0;
}

.panel ul li {
  position: relative;
  margin: 0 0 0.8rem;
  list-style: none;
}

.panel ul li::before {
  position: absolute;
  right: 101.5%;
  content: '\2022';
  font-size: 0.6em;
  line-height: 2.8;
}

/* ==========================================================================
   Title panel
   ========================================================================== */
#title {
    padding-bottom: 0;
    min-height: 0
}

.header {
    display: grid;
    grid-gap: 1em;
    justify-items: center;
    text-align: center;
}

.sarahface {
    -webkit-filter: grayscale(0.5);
    filter: grayscale(0.5);
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 0;
}

.sarahface:hover {
    animation: 300ms 2 alternate pow;
}

/* Note: make this more fun. Comic book style, pow! and starburst/lines? */
@keyframes pow {
    from {
        filter: grayscale(0.5);
        transform: scale(1);
    }
    70% {
        filter: grayscale(0);
        transform: scale(1.125);
    }
    100% {
        filter: grayscale(0);
        transform: scale(1);
    }
}

.page-title {
    font-size: 4em;
    font-weight: 800;
    color: var(--color-neutral-100);
    line-height: 0.65;
    margin: 0 0 .25em;
    letter-spacing: -0.025em;
}

.page-title strong {
    color: var(--color-secondary);
    background: none;
    font-weight: inherit;
}

.page-subtitle {
    max-width: 450px;
}

.page-subtitle .job-name {
    color: var(--color-primary);
    background: var(--color-neutral-100);
    display: inline-block;
    font-weight: 600;
    padding: 0.25em;
    transform: rotate(-2deg);
    font-size: 1.8rem;
    line-height: 0.8;
    margin: 0 0 0.45rem;
    padding: 0.45rem;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
}

.page-subtitle .job-name::after {
    display: block;
    content: '';
    width: 100%;
    height: 2px;

}

.page-subtitle .job-name:first-of-type {
    color: var(--color-neutral-100);
    background: var(--color-primary);
}

@media screen and (max-width: 640px) {
    #title {
        position: relative;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    .flask {
        width: 500px;
        position: absolute;
        bottom: -7em;
        box-shadow: none;
        z-index: 1;
        right: -12em;
        opacity: 0.05;
    }

    .sarahface,
    .page-title,
    .page-subtitle {
        z-index: 2;
    }
}

@media screen and (min-width: 640px) {
    .page-title {
        font-size: 6em;
    }

    .header {
        grid-template-columns: 200px auto;
        align-items: center;
        max-width: 120%;
        margin-left: -10%;
        margin-bottom: 2em;
        justify-items: start;
        text-align: left;
        position: relative;
    }

    .sarahface {
        margin-bottom: 0;
    }

    .page-subtitle {
        grid-column: span 2;
        padding-top: 4em;
    }

    .page-subtitle .job-name {
        font-size: 2.6rem;
    }

    .page-subtitle .job-name:first-of-type {
        margin-left: 2em;
    }

    .page-subtitle .job-name:nth-of-type(2n) {
        margin-left: 3em;
    }

    .flask {
        margin: 0;
        width: 333px;
        position: absolute;
        bottom: -4em;
        box-shadow: none;
        right: -5em;
    }
}

/* ==========================================================================
   Portfolio panel
   ========================================================================== */
.portfolio-item {
    display: grid;
    grid-gap: 2em;
    margin-bottom: 4em;
}

.portfolio-item img {
    height: 200px;
    width: 200px;
    margin: 0;
    border-radius: 50%;
    object-fit: cover;
}

@media screen and (min-width: 640px) {
    .portfolio-item:nth-of-type(odd) {
        grid-template-columns: 200px auto;
    }

    .portfolio-item:nth-of-type(even) {
        grid-template-columns: auto 200px;
    }

    .portfolio-item:nth-of-type(even) .project-details {
        order: -1;
    }
}

/* ==========================================================================
   CV panel
   ========================================================================== */
#cv .subtitle {
    color: var(--color-neutral-400);
}

#cv .subtitle strong {
    background: transparent;
    color: var(--color-primary-dark);
}

.dates {
    text-transform: uppercase;
    font-size: 0.9rem;
    letter-spacing: 0.125em;
}


/* ==========================================================================
   Portfolio pages
   ========================================================================== */
.portfolio-header {
    text-align: center;
    position: relative;
}

.portfolio-headerss .panel-title {
  color: var(--color-secondary-dark) !important;
  background-color: var(--color-neutral-600) !important;
}

.portfolio-header-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  object-fit: cover;
  z-index: 1;
  margin: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

.portfolio-header .panel-contents {
  background: var(--color-neutral-600);
  padding: 0.8rem 1.6rem;
  position: relative;
  z-index: 2;
}

@media screen and (min-width: 639px) {
  .portfolio-header .panel-contents {
    padding: 1.6rem 2.4rem;
  }
}

.portfolio-tags {
  display: none;
}

@media screen and (min-width: 639px) {
  .portfolio-tags {
    display: block;
    margin-bottom: 2em;
  }

  .tag {
      display: inline-block;
      background: var(--color-neutral-500);
      color: var(--color-neutral-100);
      padding: 0.25em 0.5em;
      text-transform: uppercase;
      letter-spacing: 0.125em;
      font-size: 0.7em;
      white-space: nowrap;
      margin: 4px 2px;
  }
}

.portfolio-links a:nth-of-type(2) {
    margin-left: 0.5em;
}

.portfolio-sequence {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
    margin: 0 0 2em;
}

.portfolio-sequence img {
    width: 100%;
    margin: 0 0 0.25em;
}

figure {
    margin: 0;
}

figcaption {
    font-size: 0.8em;
    line-height: 1.4;
}

@media screen and (min-width: 400px) {
    .portfolio-sequence {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 800px) {
    .portfolio-sequence {
        grid-template-columns: repeat(3, 1fr);
        width: calc(100% + 8em);
        margin: 0 -4em 2em;
    }

    .double-size {
        grid-column: span 2;
        grid-row: span 2;
    }

    .double-width {
        grid-column: span 2;
    }

    .double-height {
        grid-row: 1 / span 2;
        grid-column-start: 3;
    }

    .portfolio-sequence.four-column {
        grid-template-columns: repeat(4, 1fr);
    }

    .portfolio-sequence.four-column .double-size {
        grid-column: span 4;

    }

    .full-width {
        grid-column: span 3;
    }

    .full-height {
        grid-row: span 4;
    }
}

.portfolio-panel {
  display: grid;
  padding: 0;
  margin: 0;
  align-items: stretch;
}

.portfolio-panel-text,
.portfolio-panel-gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2.4rem 1.6rem 1.6rem;
}

@media screen and (min-width: 800px) {
  .portfolio-panel {
    grid-template-columns: 1fr 1fr;
  }

  .portfolio-panel-text {
    padding: 4.8rem;
  }

  .portfolio-panel-gallery {
    padding: 2.4rem;
  }

  .portfolio-panel:nth-of-type(odd) .portfolio-panel-text {
    order: 2;
  }
}

.portfolio-panel-text {
  background: var(--color-black);
  color: var(--color-neutral-100);
}

.portfolio-panel-text .dates {
  color: var(--color-neutral-200);
}

.portfolio-panel-text:nth-of-type(odd) .subtitle {
  color: var(--color-primary);
}

.portfolio-panel-text a {
  color: var(--color-secondary);
}

.portfolio-panel-text a:hover {
  color: var(--color-primary);
}

.portfolio-panel-gallery {
  background: var(--color-white);
}

.portfolio-panel-image {
  box-shadow: none;
  max-width: 100%;
  margin: 0;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
