/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

:root {
    --color-white: #fff;
    --color-black: #212127;
    --color-highlight: #e068de;
    --color-alt: #68dce0;

    --color-neutral-100: #fff;
    --color-neutral-200: #B4B4B5;
    --color-neutral-300: #808084;
    --color-neutral-400: #57575B;
    --color-neutral-500: #3A3A3F;
    --color-neutral-600: #212127;

    --color-primary-light: #fcacdb;
    --color-primary: #ef61aa;
    --color-primary-dark: #ce3a84;

    --color-secondary-light: #acf9f9;
    --color-secondary: #6cdcef;
    --color-secondary-dark: #349db2;
}

html {
    background: var(--color-white);
    color: var(--color-black);
    font-size: 1.125em;
    line-height: 1.6;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    scroll-behavior: smooth;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Sensible defaults
   ========================================================================== */

img {
    max-width: 120%;
    width: calc(100% + 4em);
    margin-left: -2em;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}

h1, h2, h3 {
    line-height: 1.2;
    color: var(--color-neutral-300);
    margin: 0 0 1em;
}

a {
    color: var(--color-secondary);
    text-decoration: none;
    padding-bottom: 0.125em;
    border-bottom: 2px solid;
}

a:hover {
    color: var(--color-primary);
}

strong {
    font-weight: 600;
}

p, img {
    margin-bottom: 2em;
    margin-top: 0;
}

/* ==========================================================================
   Panel structure
   ========================================================================== */

.panel {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 95vh;
    padding: 4em 2em;

    &:last-of-type {
        border-bottom: none;
    }
}

.panel:nth-of-type(odd) {
    background: var(--color-neutral-600);
    color: var(--color-neutral-100);
}

.panel:nth-of-type(odd) .subtitle {
    color: var(--color-primary);
}

.panel:nth-of-type(even) {
    background: var(--color-neutral-100);
    color: var(--color-neutral-600);
}

.panel:nth-of-type(even) .subtitle {
    color: var(--color-primary-dark);
}

.panel-contents {
    width: 100%;
    max-width: 640px;
}

.content {
    padding-bottom: 4em;
}


/* ==========================================================================
   Sticky navigation
   ========================================================================== */
nav {
  background: var(--color-neutral-600);
  border-bottom: 1px solid var(--color-neutral-500);
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

nav {
    position: sticky;
    top: 0;
  }

nav ul li a {
  display: inline-block;
  padding: 0.5rem 2rem;
  color: var(--color-neutral-100);
  text-decoration: none;
  border-bottom: 0;
  font-size: 0.9em;
}

.current {
  background: var(--color-secondary-dark);
}

.current:hover {
  color: var(--color-neutral-100);
  background: var(--color-primary-dark);
}

@media screen and (max-width: 640px) {
    nav ul li a {
        font-size: 0.75em;
        padding: 0.75rem 0.65rem;
    }
}


/* ==========================================================================
   Title panel
   ========================================================================== */
.header .panel-title,
.header .subtitle {
    margin: 0 0 0.2em;
}

.header {
    display: grid;
    grid-template-columns: 200px auto;
    grid-gap: 1em;
    align-items: center;
    max-width: 120%;
    margin-left: -10%;
    margin-bottom: 2em;
}

.panel-title {
    color: var(--color-neutral-300);
    font-weight: 200;
    font-size: 3rem;
    line-height: 0.8;
}

.subtitle {
    font-weight: 500;
    font-size: 1.6rem;
}

.panel.cv .subtitle {
    color: var(--color-neutral-400);
}

.cv .subtitle strong {
    color: var(--color-primary-dark);
}





.dates {
    text-transform: uppercase;
    font-size: 0.9rem;
    letter-spacing: 0.125em;
}


.intro-image {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 0;
}

@media screen and (max-width: 640px) {
    .intro-image {
        display: none;
    }

    .header {
        margin-left: 0;
        display: block;
    }

    .panel {
        padding: 1em;
    }

    .panel img {
        margin-left: 0;
        max-width: 100%;
    }
}

.tag {
    background: var(--color-primary-dark);
    color: var(--color-neutral-100);
    padding: 0.25em 0.5em;
    text-transform: uppercase;
    letter-spacing: 0.125em;
    font-size: 0.8em;
    white-space: nowrap;
}

/* Portfolio items */
.portfolio-item {
    display: grid;
    grid-gap: 2em;
    margin-bottom: 4em;
}

.portfolio-item img {
    height: 200px;
    width: 200px;
    margin: 0;
    border-radius: 50%;
    object-fit: cover;
}

@media screen and (min-width: 640px) {
    .portfolio-item:nth-of-type(odd) {
        grid-template-columns: 200px auto;
    }

    .portfolio-item:nth-of-type(even) {
        grid-template-columns: auto 200px;
    }

    .portfolio-item:nth-of-type(even) .project-details {
        order: -1;
    }
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
