---
name: portfolio
---

<!doctype html>
<html class="no-js" lang="">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ page.title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="/assets/css/normalize.css">
    <link rel="stylesheet" href="/assets/css/main.css">
  </head>

  <body>
    <!--[if lte IE 9]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->

    {% include navigation.md %}

    <main class="container">

      <section class="panel portfolio-heading">
        <div class="panel-contents">
          <h1 class="panel-title">{{ page.title }}</h1>

          <img src="{{ page.image }}">

          <p>{{ page.summary }}</p>


          <div class="portfolio-tags">
            {% for tag in page.tags %}
              <span class="tag">{{ tag }}</span>
            {% endfor %}
          </div>

          <div class="portfolio-links">
            {% if page.repo %}
              <a href="{{ page.repo }}" rel="nofollow noreferrer">Source</a>
            {% endif %}

            {% if page.demo %}
              <a href="{{ page.demo }}" rel="nofollow noreferrer">Demo</a>
            {% endif %}

            {% if page.prototype %}
              <a href="{{ page.prototype }}" rel="nofollow noreferrer">Prototype</a>
            {% endif %}
          </div>

          

        </div>
      </section>

       <section class="panel portfolio-detail">
        <div class="panel-contents">
          {{ content }}
        </div>
      </section>


    </main>
  </body>

</html>
